<%- include ('../partials/header') %>
<div class="col"><%- include ('../partials/message') %></div>

<head>
  <title> My Reviews </title>
</head>

<style>
    body {
        background-image: url('/img/nice.jpg');
        background-size: cover;
        background-position: center;
        min-height: 800px;
        height: 100vh;
        margin: 0;
    }
    /* 
    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    .review-card {
        background-color: rgb(229, 221, 221);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .card-body {
        padding: 15px;
    }
    .card-title {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .card-text {
        color: #333;
        font-size: 1em;
    }
    .card-rating {
        font-weight: bold;
        color: #4CAF50;
        margin-top: 10px;
    }
    .card-subtitle {
        color: #666;
        font-size: 1em;
        margin-top: 15px;
        text-align: right;
        
        background-size: cover;
    }
    /* 
    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    .review-card {
        background-color: rgb(229, 221, 221);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .card-body {
        padding: 15px;
    }
    .card-title {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .card-text {
        color: #333;
        font-size: 1em;
    }
    .card-rating {
        font-weight: bold;
        color: #4CAF50;
        margin-top: 10px;
    }
    .card-subtitle {
        color: #666;
        font-size: 1em;
        margin-top: 15px;
        text-align: right;
    }
   */
    .bborder {
      border: 4px solid transparent;
      border-radius: 35px;
    }
    .bborder:hover {
      border: 4px solid black;
      border-radius: 35px;
    }
    .container-banner {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        background-color: #34495e; /* Dark blue */
        color: white;
        text-align: center;
    }
    .pagination {
        margin-top: -8px; /* Adjust the top margin as needed */
    }
    
</style>

<script>
  function getCurrentPageIndex() {
    var pages = document.querySelectorAll('#reviewContainer > .row.row-cols-2.rows-cols-md-2.g-4'); // Gets parent element, which is the reviewcontainer
    var currentPage = document.querySelector(`#reviewContainer > [style*="display: flex;"]`); // Selects the element in the reviewcontainer that has "display: flex;", only the current page will have such styling.
    if(!currentPage) {
      currentPage = document.getElementById('pg1');
    }
    var children = Array.from(pages); // Gets the child elements of the pages array
    return children.indexOf(currentPage) + 1; // Returning index of current page.
  }
  function getMaxPages() {
    var pages = document.querySelectorAll('#reviewContainer > .row.row-cols-2.rows-cols-md-2.g-4');
    var children = Array.from(pages); // Gets the child elements of the pages array
    return children.length;
  }
  function showPage(pageNum) {
    var reviewPages = document.querySelectorAll('.row.row-cols-2.rows-cols-md-2.g-4');
    reviewPages.forEach(page => {
      page.style.display = 'none';
    });
    
    var currentPage = document.querySelector(`#reviewContainer > .row.row-cols-2.rows-cols-md-2.g-4:nth-of-type(${pageNum})`);
    if (currentPage) {
      currentPage.style.display = 'flex';
    }
    var previousButton = document.querySelector('#previousPage');
    var nextButton = document.querySelector('#nextPage');
    var pageButton = document.querySelector(`#page${pageNum}`);
    if(pageNum === 1) // Disables previous button if the shown page is the first page, ensures the next button is not disabled.
    {
      previousButton.classList.add('disabled');
      if(pageNum === getMaxPages())
      {
        nextButton.classList.add('disabled');
      } else {
        nextButton.classList.remove('disabled');
      }
    } else if (pageNum === getMaxPages()) { // Disables next button if the shown page is the last page, ensures the previous button is not disabled.
      previousButton.classList.remove('disabled');
      nextButton.classList.add('disabled');
    } else { // Ensures that neither the next or previous buttons are disabled when a middle page is shown. 
      previousButton.classList.remove('disabled');
      nextButton.classList.remove('disabled');
    }
    var pageNumbers = document.querySelectorAll('.ppage');
    pageNumbers.forEach(page => {
      page.classList.remove('active');
    });
    var pageButton = document.querySelector(`#page${pageNum}`);
    pageButton.classList.add('active');
  }
</script>

<main>
      <p></p>
      <div class="container container-banner">
        <h1>Your Reviews</h1>
        <p>Explore and manage your book reviews</p>
      </div>

  <!--  <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert alert-success" role="alert" style="max-width: 400px; margin: 20px auto; text-align: center;">
            <%= message %>
        </div>
    <% } %>
  -->
  
    <div class="container" id="reviewContainer" style="height: 468px;">
        <h1 class="text-center" style="padding-top: 20px; padding-bottom: 20px;"> </h1>
  <!--      <% if (typeof message !== 'undefined' && message) { %>
          <div class="alert alert-success" role="alert" style="max-width: 400px; margin: 20px auto; text-align: center;">
            <%= message %>
          </div>
        <% } %>
  -->
        <% if(page == 1) { %>
          <div class="row row-cols-2 rows-cols-md-2 g-4" style="display: flex" id="pg1">
          <% } else { %>
            <div class="row row-cols-2 rows-cols-md-2 g-4" style="display: none" id="pg1">
            <% } %>
        <% var cardsPerPage = 4 %>
        <% var pageIndex = 1 %>
        <% myreviews.forEach((myreview, index) => { %>
            <% var shortenedReview = myreview.review.slice(0,250); %>
              <div class="col">
              <a href="#" data-bs-toggle="modal" data-bs-target="#reviewModal<%= myreview.review_id %>" style="color: inherit; text-decoration: none;">
                <div class="card bborder" style="height:210px; background-color: rgb(229, 221, 221);">
                    <div class="card-body rounded-5" style='background-color: rgb(229, 221, 221);'>
                      
                        <h5 class="card-title" style="background-color: none;"><%= myreview.review_title %></h5>
                        <h6 class="card-subtitle text-body-secondary" style="padding-bottom: 20px; float: left; "><strong>Posted by: </strong><%= myreview.username %></h6>
                        <h6 class="card-subtitle text-body-secondary text-end" style="float: right;"><strong>Rating: </strong><%= myreview.rating %></h6>
                        <p class="card-text" style="clear: both;"><strong>Preview: </strong><%= shortenedReview %> </p>
                      
                    </div>
                </div>
              </a>
            </div>
         
        <!-- Modal that opens when a review is selected -->
        <div class="modal fade" id="reviewModal<%= myreview.review_id %>" tabindex="-1">
            <div class="modal-dialog" style="max-width: 40vw;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="reviewModalLabel"><%= myreview.review_title %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <h6 class="text-center">Review of <%= myreview.book_name %> by <%= myreview.author %></h5>
                    </div>
                    <div class="row">
                      <h6 class="text-center">Posted by: <%= myreview.username %></h5>
                    </div>
                    <div class="row">
                      <h6 class="text-center">Rating: <%= myreview.rating %></h5>
                    </div>
                    <div class="row">
                      <h6 class="text-center"><a href="<%= myreview.book_url %>" target="_blank">Read Now!</a></h5>
                    </div>
                    <hr>
                    <div class="row" style="max-height: 50vh; overflow-y: auto;">
                      <p style="word-wrap: break-word;"><%= myreview.review %></p>
                    </div>
                  </div>
                 
                </div>
                <div class="modal-footer">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteReviewModal<%= myreview.review_id %>">Delete Review</button>
                      </div>
                      <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editReviewModal<%= myreview.review_id %>">Edit Review</button>
                      </div>
                  </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          <!-- Modal that opens when a review being edited, this is the same as suman's with slight variation so it will feel the same for the user -->
          <div class="modal fade" id="editReviewModal<%= myreview.review_id %>" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="editReviewModalLabel">Edit Book Review</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form method="POST" action="/edit_review">
                          <div class="form-group">
                              <label for="review_title">Review Title:</label>
                              <input type="text" class="form-control" id="review_title" name="review_title" value="<%= myreview.review_title %>" required>
                          </div>
                          
                          <div class="form-group">
                              <label for="review">Review:</label>
                              <textarea class="form-control" id="review" name="review" required><%= myreview.review %></textarea>
                          </div>
                          <div class="form-group">
                              <label for="rating">Rating:</label>
                              <input type="number" class="form-control" id="rating" name="rating" min="1" max="10" value="<%= myreview.rating %>" required>
                          </div>
                          <input type="hidden" name="review_id" id="review_id" value="<%= myreview.review_id %>">
                          <input type="hidden" name="page_num" id="page_num" value="<%= pageIndex %>">
                          <button type="submit" class="btn btn-primary">Save Edits</button>
                      </form>
                  </div>
               </div>
            </div>
          </div>
          <!-- Modal that opens when a review is being deleted, makes sure the user actually wants to delete their review. -->
          <div class="modal fade" id="deleteReviewModal<%= myreview.review_id %>" tabindex="-1">
            <div class="modal-dialog"">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteReviewModalLabel">Delete Review</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete your review?</h5>
                </div>
                <div class="modal-footer">
                  <div class="container">
                    <form method="POST" action="/delete_review">
                      <input type="hidden" name="review_id" id="review_id" value="<%= myreview.review_id %>">
                      <div class="row">
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                        <div class="col-md-6 text-right">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="modal">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <% if((index + 1) % cardsPerPage === 0 || index === myreviews.length - 1) { %>
          </div>
          <% if(index !== myreviews.length - 1) { %>
            <% pageIndex++ %>
            <% if(pageIndex == page) { %>
              <div class="row row-cols-2 rows-cols-md-2 g-4" style="display:flex">
            <% } else { %>
              <div class="row row-cols-2 rows-cols-md-2 g-4" style="display:none" >
            <% } %>
            
          <% } %>
          <% } %>
        <% }); %>
        
      </div>
      <div class="container" style="padding-top: 50px; ">
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item disabled" id="previousPage"><a class="page-link" href="#" onclick="showPage(getCurrentPageIndex() - 1)">Previous</a></li>
            <%if(page == 1) { %>
              <li class="page-item ppage active" id="page1"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
              <% } else { %>
                <li class="page-item ppage" id="page1"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
              <% } %>
            
            <% var pageNum = Math.ceil(myreviews.length / cardsPerPage); %>
              <% for(var i = 2; i <= pageNum; i++) { %>
                <% if(i == page) { %>
                  <li class="page-item ppage active" id="page<%=i%>"><a class="page-link" href="#" onclick="showPage(<%= i %>)"><%= i %></a></li>
                <% } else { %>
                  <li class="page-item ppage" id="page<%=i%>"><a class="page-link" href="#" onclick="showPage(<%= i %>)"><%= i %></a></li>
                <% } %>
                
              <% } %>
                <li class="page-item" id="nextPage"><a class="page-link" href="#" onclick="showPage(getCurrentPageIndex() + 1)">Next</a></li>

            
          </ul>
        </nav>
      </div>
      
 <!-- Table Layout for Reviews 
 <table class="table" style="margin-top: 40px;">
    <thead>
        <tr>
            <th>Username</th>
            <th>Review Title</th>
            <th>Review</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <% myreviews.forEach(myreview => { %>
            <tr>
                <td><%= myreview.username %></td>
                <td><%= myreview.review_title %></td>
                <td><%= myreview.review %></td>
                <td><%= myreview.rating %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
-->
</div>




</main>
<%- include ('../partials/footer') %>