<%- include ('../partials/header') %>

<style>
    body {
        
        background-size: cover;
    }

    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .review-card {
        background-color: rgb(229, 221, 221);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .card-text {
        color: #333;
        font-size: 1em;
    }

    .card-rating {
        font-weight: bold;
        color: #4CAF50;
        margin-top: 10px;
    }

    .card-subtitle {
        color: #666;
        font-size: 1em;
        margin-top: 15px;
        text-align: right;
    }
</style>

<main>
    <div class="container">
        <h1 class="text-center" style="color: rgb(13, 13, 13); padding-top: 20px; padding-bottom: 20px;">Your Reviews</h1>
        
        <div class="reviews-container">
            <% myreviews.forEach(myreview => { %>
                <% var shortenedReview = myreview.review.slice(0,250); %>
                <div class="review-card">
                    <div class="card-body">
                        <h5 class="card-title"><%= myreview.review_title %></h5>
                        <p class="card-text"><%= shortenedReview %><% if (myreview.review.length > 250) { %>...<% } %></p>
                        <div class="card-rating">Rating: <%= myreview.rating %>/5</div>
                        <h6 class="card-subtitle">Posted by: <%= myreview.username %></h6>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>