<%- include ('../partials/header') %>

<head>
  <title> Other Reviews </title>
</head>

<style>
    body {
        background-image: url('/img/nice.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin: 0;
    }
    /* 
    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    .review-card {
        background-color: rgb(229, 221, 221);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .card-body {
        padding: 15px;
    }
    .card-title {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .card-text {
        color: #333;
        font-size: 1em;
    }
    .card-rating {
        font-weight: bold;
        color: #4CAF50;
        margin-top: 10px;
    }
    .card-subtitle {
        color: #666;
        font-size: 1em;
        margin-top: 15px;
        text-align: right;
        
        background-size: cover;
    }
    /* 
    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    .review-card {
        background-color: rgb(229, 221, 221);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .card-body {
        padding: 15px;
    }
    .card-title {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .card-text {
        color: #333;
        font-size: 1em;
    }
    .card-rating {
        font-weight: bold;
        color: #4CAF50;
        margin-top: 10px;
    }
    .card-subtitle {
        color: #666;
        font-size: 1em;
        margin-top: 15px;
        text-align: right;
    }
   */
    .bborder {
      border: 4px solid transparent;
      border-radius: 35px;
    }
    
    .container-banner {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #34495e; /* Dark blue */
        color: white;
        text-align: center;
    }
    .pagination {
        margin-top: -8px; /* Adjust the top margin as needed */
    }
    
</style>

<script>
  function getCurrentPageIndex() {
    var pages = document.querySelectorAll('#reviewContainer > .row.row-cols-2.rows-cols-md-2.g-4'); // Gets parent element, which is the reviewcontainer
    var currentPage = document.querySelector(`#reviewContainer > [style*="display: flex;"]`); // Selects the element in the reviewcontainer that has "display: flex;", only the current page will have such styling.
    var children = Array.from(pages); // Gets the child elements of the pages array
    return children.indexOf(currentPage) + 1; // Returning index of current page.
  }
  function getMaxPages() {
    var pages = document.querySelectorAll('#reviewContainer > .row.row-cols-2.rows-cols-md-2.g-4');
    var children = Array.from(pages); // Gets the child elements of the pages array
    return children.length;
  }
  function showPage(pageNum) {
    var reviewPages = document.querySelectorAll('.row.row-cols-2.rows-cols-md-2.g-4');
    reviewPages.forEach(page => {
      page.style.display = 'none';
    });
    
    var currentPage = document.querySelector(`#reviewContainer > .row.row-cols-2.rows-cols-md-2.g-4:nth-of-type(${pageNum})`);
    if (currentPage) {
      currentPage.style.display = 'flex';
    }
    var previousButton = document.querySelector('#previousPage');
    var nextButton = document.querySelector('#nextPage');
    var pageButton = document.querySelector(`#page${pageNum}`);
    if(pageNum === 1) // Disables previous button if the shown page is the first page, ensures the next button is not disabled.
    {
      previousButton.classList.add('disabled');
      nextButton.classList.remove('disabled');
    } else if (pageNum === getMaxPages()) { // Disables next button if the shown page is the last page, ensures the previous button is not disabled.
      previousButton.classList.remove('disabled');
      nextButton.classList.add('disabled');
    } else { // Ensures that neither the next or previous buttons are disabled when a middle page is shown. 
      previousButton.classList.remove('disabled');
      nextButton.classList.remove('disabled');
    }
    var pageNumbers = document.querySelectorAll('.ppage');
    pageNumbers.forEach(page => {
      page.classList.remove('active');
    });
    var pageButton = document.querySelector(`#page${pageNum}`);
    pageButton.classList.add('active');
  }
</script>

<main>
      <p></p>
      <div class="container container-banner">
        <h1>Other reviews:</h1>
    </div>

    <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert alert-success" role="alert" style="max-width: 400px; margin: 20px auto; text-align: center;">
            <%= message %>
        </div>
    <% } %>
  
    <div class="container" id="reviewContainer" style="height: 774px;">
        <h1 class="text-center" style="padding-top: 20px; padding-bottom: 20px;"> </h1>
        <% if (typeof message !== 'undefined' && message) { %>
          <div class="alert alert-success" role="alert" style="max-width: 400px; margin: 20px auto; text-align: center;">
            <%= message %>
          </div>
        <% } %>
        <% if(page == 1) { %>
          <div class="row row-cols-2 rows-cols-md-2 g-4" style="display: flex">
          <% } else { %>
            <div class="row row-cols-2 rows-cols-md-2 g-4" style="display: none">
            <% } %>
        <% var cardsPerPage = 6 %>
        <% var pageIndex = 1 %>
        <% otherreviews.forEach((myreview, index) => { %>
            <% var shortenedReview = myreview.review.slice(0,250); %>
              <div class="col">
              <a href="#" data-bs-toggle="modal" data-bs-target="#reviewModal<%= myreview.review_id %>" style="color: inherit; text-decoration: none;">
                <div class="card bborder" style="height:210px; background-color: gainsboro;">
                    <div class="card-body rounded-5" style='background-color: gainsboro;'>
                      
                        <h5 class="card-title" style="background-color: none;"><%= myreview.review_title %></h5>
                        <h6 class="card-subtitle text-body-secondary" style="padding-bottom: 20px; float: left;">Posted by: <%= myreview.username %></h6>
                        <h6 class="card-subtitle text-body-secondary text-end" style="float: right;">Rating: <%= myreview.rating %></h6>
                        <p class="card-text" style="clear: both;"><%= shortenedReview %> </p>
                        
                      
                    </div>
                </div>
              </a>
            </div>
         

        
          
          
          
          <% if((index + 1) % cardsPerPage === 0 || index === otherreviews.length - 1) { %>
          </div>
          <% if(index !== otherreviews.length - 1) { %>
            <% pageIndex++ %>
            <% if(pageIndex == page) { %>
              <div class="row row-cols-2 rows-cols-md-2 g-4" style="display:flex" >
            <% } else { %>
              <div class="row row-cols-2 rows-cols-md-2 g-4" style="display:none" >
            <% } %>
            
          <% } %>
          <% } %>
        <% }); %>
      </div>
      
      
 <!-- Table Layout for Reviews 
 <table class="table" style="margin-top: 40px;">
    <thead>
        <tr>
            <th>Username</th>
            <th>Review Title</th>
            <th>Review</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <% otherreviews.forEach(myreview => { %>
            <tr>
                <td><%= myreview.username %></td>
                <td><%= myreview.review_title %></td>
                <td><%= myreview.review %></td>
                <td><%= myreview.rating %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
-->
</div>
<div class="container" style="padding-top: 50px;">
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled" id="previousPage"><a class="page-link" href="#" onclick="showPage(getCurrentPageIndex() - 1)">Previous</a></li>
      <%if(page == 1) { %>
        <li class="page-item ppage active" id="page1"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
        <% } else { %>
          <li class="page-item ppage" id="page1"><a class="page-link" href="#" onclick="showPage(1)">1</a></li>
        <% } %>
      
      <% var pageNum = Math.ceil(otherreviews.length / cardsPerPage); %>
        <% for(var i = 2; i <= pageNum; i++) { %>
          <% if(i == page) { %>
            <li class="page-item ppage active" id="page<%=i%>"><a class="page-link" href="#" onclick="showPage(<%= i %>)"><%= i %></a></li>
          <% } else { %>
            <li class="page-item ppage" id="page<%=i%>"><a class="page-link" href="#" onclick="showPage(<%= i %>)"><%= i %></a></li>
          <% } %>
          
        <% } %>
      <li class="page-item" id="nextPage"><a class="page-link" href="#" onclick="showPage(getCurrentPageIndex() + 1)">Next</a></li>
    </ul>
  </nav>
</div>
<!-- 
        <h1 class="text-center" style="color: rgb(13, 13, 13); padding-top: 20px; padding-bottom: 20px;">Your Reviews</h1>
        
        <div class="reviews-container">
            <% otherreviews.forEach(myreview => { %>
                <% var shortenedReview = myreview.review.slice(0,250); %>
                <div class="review-card">
                    <div class="card-body">
                        <h5 class="card-title"><%= myreview.review_title %></h5>
                        <p class="card-text"><%= shortenedReview %><% if (myreview.review.length > 250) { %>...<% } %></p>
                        <div class="card-rating">Rating: <%= myreview.rating %>/5</div>
                        <h6 class="card-subtitle">Posted by: <%= myreview.username %></h6>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
  -->
<!-- 
        <h1 class="text-center" style="color: rgb(13, 13, 13); padding-top: 20px; padding-bottom: 20px;">Your Reviews</h1>
        
        <div class="reviews-container">
            <% otherreviews.forEach(myreview => { %>
                <% var shortenedReview = myreview.review.slice(0,250); %>
                <div class="review-card">
                    <div class="card-body">
                        <h5 class="card-title"><%= myreview.review_title %></h5>
                        <p class="card-text"><%= shortenedReview %><% if (myreview.review.length > 250) { %>...<% } %></p>
                        <div class="card-rating">Rating: <%= myreview.rating %>/5</div>
                        <h6 class="card-subtitle">Posted by: <%= myreview.username %></h6>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
  -->
</main>
<%- include ('../partials/footer') %>