<!DOCTYPE html>
<%- include ('../partials/header') %>
<div class="col"><%- include ('../partials/message') %></div>
<html>


<!-- Adds Background Image -->
<style>
    body {
      background-image: url('/img/WoodBackround.avif');
    }
</style>

<main> 

    <!-- <p> below is for spacing purposes -->
    <p> </p>

    <center>
        <div class="card" style="width: 70rem; background-color: #CFB997;">
            <!-- Header Information -->
            <% if (results === 0) { %> 
                <h3 class="card-title"> <center> No books with that title! Try another book or type the title you're looking 
                for accurately since this search feature is case sensitive! </center> </h3>

            <% } else { %>
                <h3 class="card-title"> <center> Showing Results For: <%- title %> </center> </h3>
                <h5 class="card-subtitle mb-2 text-muted"> <center> Estimated Amount of Books Available: <%- lowEstimate %> - <%- highEstimate %> </center> </h5>
            <% } %>
            
            <!-- Last Page Implemenation -->
            <% if ((currentIndex + numOfBooksShown) > lowEstimate) { %> 
                <h5 class="card-subtitle mb-2 text-muted"> <center> Showing the last bit of results! </center> </h5>

            <% } else {  %> 
                <h5 class="card-subtitle mb-2 text-muted"> <center> Showing results: <%- currentIndex + 1 %> - <%- currentIndex + numOfBooksShown %> </center> </h5>
            <% } %> 
        </div>
    </center>

    <!-- <p> below is for spacing purposes -->
    <p> </p>

    <center>
        <!-- Get Search Bar -->
        <div class="card" style="width: 700px; background-color: #BC9E82;">
            <div>
                <h3> Search Again Below! </h3>
                <form action="/searchbarresult" method="GET">
                    <input name="resetVariables" value="0" hidden /> <!-- Reset Gloal Variables -->
                    <!-- <p> below is for spacing purposes -->
                    <p> </p>
                    
                    <div class="form-group row">
                        <!-- Search Button -->
                        <div class="ml-auto" style="text-align:center">
                            <input type="text" id="userSearch" placeholder="Search Here!" name="userSearch" required />
                            <button type="submit" style="background-color: #BC9E82; color:black" class="btn btn-dark" value="Search"> Search </button>
                        </div>

                        <!-- <p> below is for spacing purposes -->
                        <p> </p>
                        
                        <!-- Search by Author or Title -->
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                            <input type="radio" name="searchOption" id="titleOption" value="intitle:" checked> Search By Title
                            </label>

                            <label class="btn btn-secondary">
                            <input type="radio" name="searchOption" id="authorOption" value="inauthor:"> Search By Author
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>

    <!-- <p> below is for spacing purposes -->
    <p> </p>

    <!-- Cards Displayed -->
    <div class="container">
        <div class="row" > 

        <% books.forEach(ABook => {  %>
            <div class="card mb-3" style="width: 1200px; max-height: 650px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <!-- Add Book Cover if any -->
                        <% if (ABook.volumeInfo.imageLinks) { %> 
                            <img src="<%= ABook.volumeInfo.imageLinks.smallThumbnail %>" class="card-img" style="max-height: 650px;">
                        <% } else { %> 
                            <img src="/img/DefaultBook.png" class="card-img"  style="max-height: 500px;">
                        <% } %>
                    </div>

                    <!-- Card Details -->
                    <div class = "col-md-8" style="background-color:#CFB997;">
                        <div class="card text-center" >
                            <div class="card-header" style="background-color: #BC9E82;">
                                <!-- Title and Author -->
                                <h4> <%- ABook.volumeInfo.title %> </h4>
                                <% if (ABook.volumeInfo.authors) { %>
                                    <p class="card-text"> Author:  <%- ABook.volumeInfo.authors[0] %> </p>
                                <% } else { %>
                                    <p class="card-text"> No Author Available </p>
                                <% } %>
                            </div>

                            <div class="card-body" style="background-color:#CFB997;">
                                <!-- Print out Stars based on rating, if any -->
                                <% if (ABook.volumeInfo.averageRating) { %> 
                                    <% if (ABook.volumeInfo.averageRating <= 1.4) { %>
                                        <h4 class="card-title"> ★☆☆☆☆ </h4>
                                    <% } else if (ABook.volumeInfo.averageRating <= 2.4) { %> 
                                        <h4 class="card-title"> ★★☆☆☆ </h4>
                                    <% } else if (ABook.volumeInfo.averageRating <= 3.4) { %> 
                                        <h4 class="card-title"> ★★★☆☆ </h4>
                                    <% } else if (ABook.volumeInfo.averageRating <= 4.4) { %> 
                                        <h4 class="card-title"> ★★★★☆ </h4>
                                    <% } else if (ABook.volumeInfo.averageRating <= 5) { %> 
                                        <h4 class="card-title"> ★★★★★ </h4>
                                    <% } %>
                                <% } else { %>
                                    <h5 class="card-title"> No Star Review Available </h5>
                                <% } %>

                                <!--Print out Book Description -->
                                <% if (ABook.volumeInfo.description) { %>
                                    <p class="card-text" style="font-family: 'Times New Roman'" > <%- ABook.volumeInfo.description %> </p>
                                <% } else { %>
                                    <p class="card-text"> No Description </p>
                                <% } %>
                            </div>
                            <!-- Counter makes sure last page doesn't count out of scope -->
                            <% counter = counter + 1; %>
                            <div class="card-footer text-muted" style="background-color:#CFB997;">
                                <!-- Add Book Button -->
                                <form action="/searchbarresult" method="POST">
                                    <div>
                                        <input name="book_name" value="<%= ABook.volumeInfo.title %>" hidden> <!-- Add title -->

                                        <!-- Add author, if any -->
                                        <% if (ABook.volumeInfo.authors) { %>
                                            <input name="author" value="<%= ABook.volumeInfo.authors[0] %>" hidden>
                                        <% } else { %>
                                            <input name="author" value="No Author" hidden>
                                        <% } %>

                                        <!-- Add book URL, if any -->
                                        <% if (ABook.volumeInfo.previewLink) { %>
                                            <input name="book_url" value="<%= ABook.volumeInfo.previewLink %>" hidden>
                                        <% } else { %>
                                            <input name="book_url" value="No URL" hidden>
                                        <% } %>
                                        
                                    </div>
                                    <button type="submit" class="btn btn-secondary" style="float: left"> Add Book </button>
                                </form>

                                <!-- Suman's Pop-up Code: -->
                                <button type="button" class="btn btn-secondary" style="float: right" data-toggle="modal" data-target="#addReviewModal"> Add Review </button>
                                <!-- Modal -->
                                <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel">Add a New Book Review</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="/add_reviews">
                                                    <div class="form-group">
                                                        <label for="title">Review Title:</label>
                                                        <input type="text" class="form-control" id="title" name="title" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="review">Review:</label>
                                                        <textarea class="form-control" id="review" name="review" required></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="rating">Rating:</label>
                                                        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-warning">Submit Review</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- End of Suman's Code -->
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %> 

        <!-- Back and Next button functionality -->
        <center>
            <!-- Back Button -->
            <form action="/searchbarresult" method="GET">
                <%  if (currentIndex == 0) {  %>
                    <button type="submit" class="btn btn-secondary" style="float: left" value="<%= searchOption %><%= searched %>" name="userSearch" disabled > Back </button>
                <% } else { %> 
                    <input name="backpage" value="0" hidden />
                    <button type="submit" class="btn btn-secondary" style="float: left" value="<%= searchOption %><%= searched %>" name="userSearch" > Back </button>
                <% } %>
            </form>
            <!-- Next Button -->
            <form action="/searchbarresult" method="GET">
                <%  if (counter < numOfBooksShown) {  %>
                    <button type="submit" class="btn btn-secondary" style="float: right" value="<%= searchOption %><%= searched %>" name="userSearch" disabled > Next </button>
                <% } else { %>
                    <input name="nextpage" value="0" hidden />
                    <button type="submit" class="btn btn-secondary" style="float: right" value="<%= searchOption %><%= searched %>" name="userSearch" > Next </button>
                <% } %>    
            </form>
        </center>
        
        </div>

        <!-- <p> below is for spacing purposes, for the buttons -->
        <p> </p>

    </div>
</main>
