<!DOCTYPE html>
<%- include ('../partials/header') %>
<html>

<main> 

    <!-- Get user input -->
    <center>
    <form action="/searchbarresult" method="GET">
        <input type="text" id="userSearch" placeholder="Search" name="userSearch" />
        <input type="submit" value="Search" />
    </form>
    </center>

    <% if (results === 0) { %> 
      <p> <center> No books with that title! Try another book or type the title you're looking 
        for accurately since this search feature is case sensitive! </center> </p>
    <% } else { %>

      <p> <center> Showing Results For: <%- searched %> </center> </p>
      <p> <center> Amount of Books Available: <%- results %> </center></p>
      <!-- Address below when dealing with "back" and "next" button functionality -->
      <p> <center> Showing results 1-15: </center> </p>

    <div class="container" id="hobbies">
        <div class="row"> 
    <% books.forEach(ABook => {  %>
        <center>
            <div class="card mb-3" style="width: 1200px; max-height: 650px;">
                <div class="row no-gutters">
                <div class="col-md-4">

                    <% if (ABook.volumeInfo.imageLinks) { %> 
                        <img src="<%= ABook.volumeInfo.imageLinks.smallThumbnail %>" class="card-img" style="max-height: 650px;">
                    <% } else { %> 
                        <img src="/img/DefaultBook.png" class="card-img"  style="max-height: 500px;">
                    <% } %>

                </div>
                <div class="col-md-8">
                    <div class="card-body">  
                    <h5 class="card-title"> <%- ABook.volumeInfo.title %> </h5>

                        <%  if (ABook.volumeInfo.authors) { %>
                            <p> Author: <%- ABook.volumeInfo.authors[0]  %> </p>
                        <% } else { %>
                            <p> Author is Undefinded </p>
                            <% } %>

                    <p class="card-text"> Description:  <%- ABook.volumeInfo.description %> </p>
                    <!-- Link buttons to proper functionality(Ex: Suman adds pop-up here) -->
                    <a href="#" class="btn btn-primary"> Add To Shelf </a>



                    <!-- Suman's Pop-up Code: -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addReviewModal"> Add Review </button>
                    <!-- Modal -->
    <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add a New Book Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/add_reviews">
                        <div class="form-group">
                            <label for="title">Review Title:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="review">Review:</label>
                            <textarea class="form-control" id="review" name="review" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- End of Suman's Code -->

                    </div>
                </div>
                </div>
            </div>
        </center>
    <% }); %> 
    </div>
    </div>
    <% } %>
</main>
